* {
    padding: 0;
    margin: 0;
    box-sizing: content-box
}

.figure {
    padding-left: 0;
}

.section-figure {
    border: 2px solid var(--color-body-default);
    border-radius: 0.3em;
    margin: 2em 0;
    padding: 0 2em;
}

.section-figure header{
    border: 2px solid var(--color-body-default);
    padding: 1em;
    margin-left: -1em;
    border-radius: 0.3em;
    max-width: 50%;
    margin: 3em auto 6em auto;
    text-align: center;
}

ul.figure {
    border-top: 0.3em dotted var(--color-body-default);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 2em;
}

ul.figure li {
    text-align: center;
    flex: 1 1 20%;
    display: block;
    list-style: none outside;
    padding-top: 2em 2em 0 0;
    position: relative;
}

ul.figure li:not(:last-child) {
    margin-right: 1.5em;
}

ul.figure .figure-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    content: "\f15c";
    width: 7em;
    height: 7em;
    background: var(--color-body-default);
    border-radius: 50%;
    position: absolute;
    top: calc( -3.5em - 3px ); 
    left: calc( 50% - 3.5em );
}

ul.figure .figure-icon .fas {
    font-size: 3em;
    color: #FFF;
}

ul.figure li strong.title {
    display: block;
    margin-bottom: 0.3em;
    margin-top: 5em;
}



