.site-body {
    background-image: url(../images/body.jpg);
}

.site {
    max-width: var(--layout-main-width);
    margin: 0 auto;
    padding: 2em;
    background: var(--color-body-bgrd);
}

@media (min-width: 1024px) {
    .site-header {
        display: flex;
        align-items: center;
    }

    .site-header nav {
        margin-left: auto;
    }
}



