.section {
    padding: 1em 2em 2em 2em;
    text-align: center;
}

.section header h1,
.section header h2,
.section header h3 {
    margin: 0;
}

.section.section-headings{
    font-size: 1.5em;
    font-family: Merriweather, serif;
}


.section.section-check {
    font-size: 1.2em;
    padding: 2em;
    background-color: var(--color-body-default);
    border-bottom-right-radius: 2em;
    border-top-left-radius: 2em;
}

.section.section-check header a{
    color: #FFF;
}

.section li {
    text-align: left;
}



::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(36, 148, 211);
    font-size: 0.7em;
    opacity: 0.5;
}

.section-call p,
.section-figure p {
    font-size: 2em;
}

@media (max-width: 1024px) {
    .section.section-headings{
        font-size: 1.2em;
    }

    .section-call p,
    .section-figure p {
        font-size: 1.5em;
    }
}

@media (min-width: 430px){
    .section.section-check .field input{
        width: 12em;
    }
}



