.section-usefull ol {
    padding: 0;
}

.section-usefull li {
    border: 1px solid var(--color-body-default);
    border-radius: 0.3em;
    margin-bottom: 1em;
    padding: 0.5em 1em;
    list-style: inside upper-roman;
}

.section-usefull .centred {
    text-align: center;
}

.section-usefull thead tr th:first-child,
.section-usefull tbody tr td:first-child {
    max-width: 6em;
}

.section-usefull img {
    width: 1.5em;
    height: auto;
    padding-top: 0.3em;
}

@media (min-width: 900px) {
    .grid-table {
        font-size: 0.8em;
        display: grid;
        grid-template-columns: repeat(32, 1fr);
        grid-template-rows: repeat(40, 1fr)
        /* grid-gap: 1em; */
    }
    
    .laundry {
        grid-column: 1 / span 15;
        grid-row: 1 / span 22;
    }
    
    .centr {
        grid-column: 16 / span 15;
        grid-row: 1 / span 19;

    }
    
    .chem {
        grid-column: 1 / span 18;
        grid-row: 23 / span 19;

    }
    
    .dry {
        grid-column: 19 / span 11;
        grid-row: 21 / span 25;
    }
}

@media (max-width: 899px){

    .grid-table table{
        margin: 0 auto;
    }
}

