.contacts-wrapper {
    display: grid;}

.map {
    width: 100%;
    padding: 0;
    margin: 0;
}

.rounded {
    display: block;
    border: 1px solid var(--color-body-default);
    border-radius: 0.3em;
    margin-bottom: 1em;    
    padding: 1em;
}

.rounded p{
    padding-bottom: 0;
}

.working-time table {
    padding-left: 0;
}

.enquiery p{
    text-align: center;
    padding-bottom: 1em;
    font-size: 2em;
}

.enquiery input[type="text"]{
    margin-right: 0;
}

.enquiery input[type="submit"] {
    font-size: 1em;
    font-weight: bold;
    display: block;
    margin: 2em auto;
    
}

.enquiery .field {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5em;
    text-align: left;
}

.field input, textarea {
    margin-bottom: 0.5em;
    width: 100%;
    margin-right: 0;
}

@media (min-width: 1024px) {
    .contacts-wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(7, 1fr);
    }

    .map {
        grid-column: 1 / span 1;
        grid-row: 1 / span 6;
        width: 32em;
        height: 21.5em;
        padding: 0;
        padding-right: 1em;
        margin: 0;
    }

    .address {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
    }
    
    .working-time {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
    }
    
    .contacts {
        grid-column: 2 / span 1;
        grid-row : 3 / span 1;
    }
    
    .enquiery {
        grid-column: 1 / span 2;
        grid-row: 4 / span 4;
    }
}

