.media {
    text-align: center;
}

.media img {
    width: 20em;
    height: auto;
    /* margin-left: 0 auto; */
}


@media (min-width: 700px){
    .media {
        float: right;
    }   
    
    .cleaner {
        clear: both;
    }
}

@media (max-width: 400px){
    .media {
        display: none;
    }
}