.site-nav > ul {
    display: flex;
    padding: 0;
}

.site-nav li {
    margin: 0 auto;
    display: block;
    list-style: none outside;
    padding: 0 0.5em;
}

.site-nav a{
    font-size: 0.8em;
    display: block;
    padding: 0.5em 1em;
    border-bottom-right-radius: 1em;
    border-top-left-radius: 1em;
    background: #EEE;
}

.site-nav li.selected > a,
.site-nav a:hover{
    background: var(--color-body-default);
    color: var(--color-body-bgrd);
}

/* 
.site-nav a i.fas:before {
    color: #000;
    margin-right: 0.5em;
} */

.nav-toggle {
    opacity: 0;
    pointer-events: none;
    position: absolute;    
}

.nav-toggle-button {
    display: none;
    margin-left: auto;
}

@media (min-width: 901px){
    .site-nav li:last-child {
        padding-right: 0;
    }
    
    .site-nav li:first-child {
        padding-left: 0;
    }
}

@media (max-width: 900px){
    .nav-toggle-button {
        display: block;
    }
    .nav-toggle-button .close {
        display: none;
    }    

    .site-nav {
        display: none;
        padding-top: 1em;
    }

    .site-nav > ul {
        display: block;
    }

    .site-nav > ul > li {
        width: 50%;
        font-size: 1.5em;
        padding: 0.2em;
    }

    .site-nav > ul > li a {
        text-align: center;
    }

    .nav-toggle + .site-header {
        display: block;
    }
    
    .nav-toggle:checked + .site-header .site-nav {
        display: block;
    }

    .nav-toggle:checked + .site-header .nav-toggle-button .open {
        display: none;
    }

    .nav-toggle:checked + .site-header .nav-toggle-button .close {
        display: block;
    }

    .site-header {
        position: relative;
    }

    .nav-toggle-button {
        position: absolute;
        top: 0.5em;
        right: 2em;
    }

    .fa-bars {
        font-size: 2em;

    }
}

@media (max-width: 340px){
    .fa-bars {
        font-size: 1em;
    }
}