table {
    max-width: 52em;
}

table, td, th, tr {
    border-width: 1px;
    border-color: var(--color-body-default);
    border-style: solid ;
    border-collapse: collapse;
}

td {
  text-align: left;
  padding: 0 0.3em;
}

th {
    background: var(--color-body-default);
    color: #FFF;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

tr:hover{
    background: rgb(36, 148, 211);
    color: #FFF;
}
