 .site-main {
    opacity: 0;
    transform: translateY(-1em);
    transition: opacity 0.2s ease-in, transform 0.2s ease-in-out;
    transition-delay: 1s;
}

body.loaded .site-main {
    opacity: 1;
    transform: translateY(0);
}

.site-branding {
    opacity: 0;
    transform: translateX(-2em);
    transition: opacity 0.2s ease-in, transform 0.2s ease-in-out;
    transition-delay: 0.2s;
}

body.loaded .site-branding {
    opacity: 1;
    transform: translateX(0);
}

.site-nav li {
    opacity: 0;
    transform: translateY(-1em);
    transition: opacity 0.3s ease-in, transform 0.3s ease-in-out;
}

.site-nav li:nth-child(1) { transition-delay: 0.3s; }
.site-nav li:nth-child(2) { transition-delay: 0.4s; }
.site-nav li:nth-child(3) { transition-delay: 0.5s; }
.site-nav li:nth-child(4) { transition-delay: 0.6s; }
.site-nav li:nth-child(5) { transition-delay: 0.7s; }
.site-nav li:nth-child(6) { transition-delay: 0.8s; }
.site-nav li:nth-child(7) { transition-delay: 0.9s; }

body.loaded .site-nav li {
    opacity: 1;
    transform: translateY(0);
}

form input[type="submit"],
form input[type="text"],
.site-nav a {
    transition: background 0.4s ease-in-out, color 0.4s ease-in-out;
}
