<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">
    <script src="{{ site.baseurl }}/scripts/site.js"></script>
</head>

<body class="site-body">

    <div class="site">

        <input type="checkbox" id="nav-toggle" class="nav-toggle">

        <header class="site-header">
           
            <a href="{{ site.baseurl }}/">

                <div class="site-branding">

                    <p class="site-title">Обществена Пералня 1213</p>
                    <p class="site-description">Експерти в прането от 2003 година</p>

                </div>

            </a>
            
            <label for="nav-toggle" class="nav-toggle-button">

                <span class="open"><i class="fas fa-bars"></i></span>
                <span class="close">Close</span>

            </label>

            <nav class="site-nav">

                <ul>
                    {% assign nav = site.pages | sort:"order" %}
                    {% for item in nav %}
                    {% if item.title %}
                    <li {% if item.url == page.url %} class="selected" {% endif %}>
                        <a href="{{ site.baseurl }}{{ item.url }}">
                            <i class="fas {{ item.icon }}"></i>
                            {{ item.title }}
                        </a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>

            </nav>

        </header>

        <main class="site-main">

            {% if page.title %}
            <h1>{{page.title}}</h1>
            {% endif %}

            {{content}}

        </main>

        </aside>

        <footer class="site-footer">

            <p>All rights Reserved 2003-2019 &copy; {{ site.title }}</p>

            <ul class="contacts">

                <li><a href=""><i class="far fa-envelope"></i></a></li>
                <li><a href=""><i class="fab fa-facebook"></i></a></li>
                <li><a href=""><i class="fab fa-instagram"></i></a></li>

            </ul>

        </footer>

    </div>
    
</body>

</html>