<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">
    <script src="{{ site.baseurl }}/scripts/site.js"></script>
</head>

<body class="site-body">
    <div class="site">
        <header class="site-header">
            <!-- {% if page.home == true %}
            <h1 class="site-title"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
            {% else %}
            <p class="site-title"><a href="{{ site.baseurl }}/">{{ site.title }}</a></p>
            {% endif %} -->
            <a href="{{ site.baseurl }}/">
                <div class="site-branding">
                    <p class="site-title">Обществена Пералня 1213</p>
                    <p class="site-description">Експерти в прането от 2003 година</p>
                </div>
            </a>
            

            <nav class="site-nav">
                <ul>
                    <!-- {% for page in site.pages %} -->
                    {% if page.title %}
                    <li>
                        <a href="{{ site.baseurl }}{{ page.url }}">
                            <i class="fas {{ page.icon }}"></i>
                            {{ page.title }}</a>
                    </li>
                    {% endif %}
                    <!-- {% endfor %} -->
                </ul>

            </nav>
        </header>

        <main class="site-main">
            {% if page.title %}
            <h1>{{page.title}}</h1>
            {% endif %}

            {{content}}
        </main>

        <aside class="site-sidebar">

        </aside>

        <footer class="site-footer">
            <!-- <h6>{{site.title}}</h6> -->
            <p>All rights Reserved 2003-2019 &copy; {{ site.title }}</p>
            <ul class="contacts">
                <li><a href=""><i class="far fa-envelope"></i></a></li>
                <li><a href=""><i class="fab fa-facebook"></i></a></li>
                <li><a href=""><i class="fab fa-instagram"></i></a></li>
            </ul>
        </footer>
    </div>
</body>

</html>