.section-figure {
    border: 2px solid var(--color-body-default);
    border-radius: 0.3em;
    margin: 2em 0;
    padding: 0 2em 0 2em;
}

.section-figure header{
    border: 2px solid var(--color-body-default);
    padding: 1em;
    margin-left: -1em;
    border-radius: 0.3em;
    margin: 1em auto 1em auto;
}

ul.figure {
    border-left: 0.3em dotted var(--color-body-default);
    margin-bottom: 2em;
    padding-left: 0;
    padding-bottom: 0;
}

ul.figure li {
    list-style: none outside;
    text-align: left;
    position: relative;
    padding-left: 3em;
}

ul.figure .figure-icon {
    background: var(--color-body-default);
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4em;
    height: 4em;
    left: -2em ;
    top: 25%;
}
    
ul.figure .figure-icon .fas {
    font-size: 2em;
    color: #FFF;
}

ul.figure li strong.title {
    display: block;
    margin-bottom: 0.3em;
    margin-top: 1.5em;
}

@media (min-width: 900px) {
    .section-figure header{
        margin: 3em auto 6em auto;
    }

    ul.figure {
        border-top: 0.3em dotted var(--color-body-default);
        display: flex;
        border-left:none;
    }
    
    ul.figure li {
        text-align: center;
        flex: 1 1 20%;
        padding: 0 1em 0 1em;
    }
    
    ul.figure .figure-icon {
        width: 7em;
        height: 7em;
        top: calc( -3.5em - 3px ); 
        left: calc( 50% - 3.5em );
    }
    
    ul.figure .figure-icon .fas {
        font-size: 3em;
    }
    
    ul.figure li strong.title {
        margin-top: 5em;
    }
}





