.site-body {
    background-image: url(../images/body.jpg);
}

.site {
    max-width: var(--layout-main-width);
    margin: 0 auto;
    padding: 2em;
    background: var(--color-body-bgrd);
}

.content, .services {
    padding: 1em 0;
}

.site-main i {
    font-size: 2em;    
    color: var(--color-body-default );
}

.site-main i:not(:last-child){
    padding-right: 0.1em;
}

.site-main i:first-child:hover{
    color: rgb(65, 176, 30);
}

.site-main i:nth-child(2):hover{
    color: rgb(122, 59, 170);
}

.site-main i:last-child:hover{
    color: rgb(65, 176, 30);
}

.section-call {
    border: 2px solid var(--color-body-default);
    border-radius: 0.3em;
}

.section.section-check .field{
    display: block;
}

@media (min-width: 900px) {
    .site-header {
        display: flex;
        align-items: center;
    }

    .site-header nav {
        margin-left: auto;
    }   

    .section.section-check .field{
        display: inline;
    }

    .site-main i {
        font-size: 5em;    
    }

    .site-main i:not(:last-child){
        padding-right: 1em;
    }
}

@media (min-width: 500px) {
    .site-main i {
        font-size: 5em;    
    }

    .site-main i:not(:last-child){
        padding-right: 0.5em;
    }
}



